<!DOCTYPE html>
<html>
<head>
  <style>
    table {
	width: 100%;
    }
  </style>
</head>
<body>
    <table border="1" class="dataframe">
    <thead>
	<tr style="text-align: right;">
	<th>CCTV관리번호</th>
	<th>설치위치명</th>
	</tr>
    </thead>
    <tbody>
	<tr>
	<td><a href='/cctv/001'>CCTV001</a></td>
	<td>세집매 삼거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/002'>CCTV002</a></td>
	<td>서부역 입구 삼거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/003'>CCTV003</a></td>
	<td>역말 오거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/004'>CCTV004</a></td>
	<td>천안로사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/005'>CCTV005</a></td>
	<td>상명대 입구 삼거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/006'>CCTV006</a></td>
	<td>방죽안오거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/007'>CCTV007</a></td>
	<td>천안역</td>
	</tr>
	<tr>
	<td><a href='/cctv/008'>CCTV008</a></td>
	<td>남부오거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/009'>CCTV009</a></td>
	<td>교보사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/010'>CCTV010</a></td>
	<td>청삼교차로</td>
	</tr>
	<tr>
	<td><a href='/cctv/011'>CCTV011</a></td>
	<td>신방삼거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/012'>CCTV012</a></td>
	<td>이마트 사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/013'>CCTV013</a></td>
	<td>쌍용사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/014'>CCTV014</a></td>
	<td>봉서사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/015'>CCTV015</a></td>
	<td>구상골 사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/016'>CCTV016</a></td>
	<td>인쇄창사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/017'>CCTV017</a></td>
	<td>부성초교사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/018'>CCTV018</a></td>
	<td>극동사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/019'>CCTV019</a></td>
	<td>백석삼거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/020'>CCTV020</a></td>
	<td>운동장 사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/021'>CCTV021</a></td>
	<td>쌍용도서관 삼거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/022'>CCTV022</a></td>
	<td>동일하이빌 삼거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/023'>CCTV023</a></td>
	<td>고속철 입구</td>
	</tr>
	<tr>
	<td><a href='/cctv/024'>CCTV024</a></td>
	<td>개목삼거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/025'>CCTV025</a></td>
	<td>우미린A 삼거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/026'>CCTV026</a></td>
	<td>세무서</td>
	</tr>
	<tr>
	<td><a href='/cctv/027'>CCTV027</a></td>
	<td>청수 국민은행</td>
	</tr>
	<tr>
	<td><a href='/cctv/028'>CCTV028</a></td>
	<td>펜타포트 사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/029'>CCTV029</a></td>
	<td>생태터널사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/030'>CCTV030</a></td>
	<td>원형육교</td>
	</tr>
	<tr>
	<td><a href='/cctv/031'>CCTV031</a></td>
	<td>도로원점 삼거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/032'>CCTV032</a></td>
	<td>직산사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/033'>CCTV033</a></td>
	<td>저리 교차로</td>
	</tr>
	<tr>
	<td><a href='/cctv/034'>CCTV034</a></td>
	<td>성성고가교</td>
	</tr>
	<tr>
	<td><a href='/cctv/035'>CCTV035</a></td>
	<td>도장리</td>
	</tr>
	<tr>
	<td><a href='/cctv/036'>CCTV036</a></td>
	<td>예술의전당</td>
	</tr>
	<tr>
	<td><a href='/cctv/037'>CCTV037</a></td>
	<td>대홍교차로</td>
	</tr>
	<tr>
	<td><a href='/cctv/038'>CCTV038</a></td>
	<td>단대입구 사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/039'>CCTV039</a></td>
	<td>구정사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/040'>CCTV040</a></td>
	<td>오룡지하차도</td>
	</tr>
	<tr>
	<td><a href='/cctv/041'>CCTV041</a></td>
	<td>와촌초교</td>
	</tr>
	<tr>
	<td><a href='/cctv/042'>CCTV042</a></td>
	<td>불당신도시 입구 삼거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/043'>CCTV043</a></td>
	<td>푸르지오 106동 사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/044'>CCTV044</a></td>
	<td>우미린 102동 사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/045'>CCTV045</a></td>
	<td>시청사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/046'>CCTV046</a></td>
	<td>호반201동 사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/047'>CCTV047</a></td>
	<td>불당고</td>
	</tr>
	<tr>
	<td><a href='/cctv/048'>CCTV048</a></td>
	<td>불당현대 사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/049'>CCTV049</a></td>
	<td>고속화도로입구삼거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/050'>CCTV050</a></td>
	<td>새말사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/051'>CCTV051</a></td>
	<td>충절오거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/052'>CCTV052</a></td>
	<td>일봉산사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/053'>CCTV053</a></td>
	<td>터미널사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/054'>CCTV054</a></td>
	<td>한들사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/055'>CCTV055</a></td>
	<td>노동부사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/056'>CCTV056</a></td>
	<td>북부지하차도 사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/057'>CCTV057</a></td>
	<td>국지도23호선 오일뱅크앞</td>
	</tr>
	<tr>
	<td><a href='/cctv/058'>CCTV058</a></td>
	<td>코스트코사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/059'>CCTV059</a></td>
	<td>2공단삼거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/060'>CCTV060</a></td>
	<td>청당지하차도</td>
	</tr>
	<tr>
	<td><a href='/cctv/061'>CCTV061</a></td>
	<td>송유관입구</td>
	</tr>
	<tr>
	<td><a href='/cctv/062'>CCTV062</a></td>
	<td>삼용사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/063'>CCTV063</a></td>
	<td>두정역사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/064'>CCTV064</a></td>
	<td>충무로사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/065'>CCTV065</a></td>
	<td>복지회관사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/066'>CCTV066</a></td>
	<td>버들육거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/067'>CCTV067</a></td>
	<td>봉정사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/068'>CCTV068</a></td>
	<td>예일병원 앞 사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/069'>CCTV069</a></td>
	<td>로데오거리 앞 사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/070'>CCTV070</a></td>
	<td>서북구청 앞 삼거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/071'>CCTV071</a></td>
	<td>원형교차로 내</td>
	</tr>
	<tr>
	<td><a href='/cctv/072'>CCTV072</a></td>
	<td>삼거리공원 정문 옆</td>
	</tr>
	<tr>
	<td><a href='/cctv/073'>CCTV073</a></td>
	<td>백석대 삼거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/074'>CCTV074</a></td>
	<td>구 동방주유소 앞</td>
	</tr>
	<tr>
	<td><a href='/cctv/075'>CCTV075</a></td>
	<td>이수교차로</td>
	</tr>
	<tr>
	<td><a href='/cctv/076'>CCTV076</a></td>
	<td>아이비웨딩 앞</td>
	</tr>
	<tr>
	<td><a href='/cctv/077'>CCTV077</a></td>
	<td>서북소방서 사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/078'>CCTV078</a></td>
	<td>상장교차로</td>
	</tr>
	<tr>
	<td><a href='/cctv/079'>CCTV079</a></td>
	<td>화계교차로</td>
	</tr>
	<tr>
	<td><a href='/cctv/080'>CCTV080</a></td>
	<td>병천사거리 회전교차로</td>
	</tr>
	<tr>
	<td><a href='/cctv/081'>CCTV081</a></td>
	<td>시장교차로</td>
	</tr>
	<tr>
	<td><a href='/cctv/082'>CCTV082</a></td>
	<td>두정지하차도 위</td>
	</tr>
	<tr>
	<td><a href='/cctv/083'>CCTV083</a></td>
	<td>복지관사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/084'>CCTV084</a></td>
	<td>창들2교차로</td>
	</tr>
	<tr>
	<td><a href='/cctv/085'>CCTV085</a></td>
	<td>한미래아파트 앞 사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/086'>CCTV086</a></td>
	<td>르빌104동 옆 교차로</td>
	</tr>
	<tr>
	<td><a href='/cctv/087'>CCTV087</a></td>
	<td>풍세교차로</td>
	</tr>
	<tr>
	<td><a href='/cctv/088'>CCTV088</a></td>
	<td>엘지로 교차로</td>
	</tr>
	<tr>
	<td><a href='/cctv/089'>CCTV089</a></td>
	<td>송남교차로</td>
	</tr>
	<tr>
	<td><a href='/cctv/090'>CCTV090</a></td>
	<td>레이크타운 3차 사거리</td>
	</tr>
	<tr>
	<td><a href='/cctv/091'>CCTV091</a></td>
	<td>파스쿠찌앞 교차로</td>
	</tr>
	<tr>
	<td><a href='/cctv/092'>CCTV092</a></td>
	<td>성성2교차로</td>
	</tr>
    </tbody>
    </table>
</body>
</html>
